#page-home {
  background: #f0f0f5;
  background: url('../../assets/swoosh.svg') bottom right;
}

#page-home .content {
  width: 100%;
  min-height: 100vh;
  max-width: 1560px;
  
  margin: 0 auto;
  padding: 0 30px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#page-home .content header .logo {
  margin-bottom: 16px;
}

#page-home .content .inner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-home .content figure {
  max-width: 50%;
  height: auto;
  padding-right: 3rem;
}
#page-home .content figure img {
  max-width: 100%;
}

#page-home .content main {
  flex: 1;
  width: 50%;
  padding: 0 2rem 0 6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#page-home .content main h1 {
  font-size: 32px;
  color: var(--title-color);
}

#page-home .content main p {
  font-size: 20px;
  margin-top: 24px;
  line-height: 38px;
}

#page-home .content main a {
  width: 100%;
  max-width: 360px;
  height: 72px;
  background: var(--primary-color);
  border-radius: 8px;
  text-decoration: none;

  display: flex;
  align-items: center;
  overflow: hidden;

  margin-top: 40px;

  opacity: 1;
  transition: opacity 0.2s;
}
#page-home .content main a:hover {
  opacity: 0.9;
}

#page-home .content main a span {
  display: block;
  background: rgba(0, 0, 0, 0.08);
  width: 72px;
  height: 72px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

#page-home .content main a span svg {
  color: #FFF;
  width: 20px;
  height: 20px;
}

#page-home .content main a strong {
  flex: 1;
  text-align: center;
  color: #FFF;
}



@media(max-width: 900px) {
  #page-home .content {
    align-items: center;
    text-align: center;
  }

  #page-home .content header {
    margin: 48px auto 0;
  }

  #page-home .content main {
    align-items: center;
  }

  #page-home .content main h1 {
    font-size: 42px;
  }

  #page-home .content main p {
    font-size: 24px;
  }
}
